body {
    text-align: center;
    margin: 0;
    padding-top: 800px;
}

.profile {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}

#welcome {
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: #FFFFFF;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    background: linear-gradient(#15dd74 0%, #f2ac33 100%);
    display: table;
    width: 100%;
    height: 100%;
}



h1 {
    font-size: 40px;
    line-height: 1.2;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

#name {
    font-size: 30px;
    line-height: 1.2;
    font-family: cursive;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    font-family: monospace
}

#bio {
    padding: 50px;
    text-align: center;
    font-size: 42px;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}


p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}

.parallax-inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;

}
.menu {
    list-style: none;
    font-family: 'Oswald', sans-serif;
    position: absolute;
    top: 10px;
    z-index: 10;
    cursor: pointer;
    right: 10px;
}

.links {
    float: center;
    font-family: 'Style Script', cursive;
    color:black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 9px;
    padding-left: 9px;
}

.links:hover {
    background-color: white;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}

.article:hover{
    color:black;
}
img {
    transition: transform .2s;
}

img:hover {
    transform: scale(0.9);
}
#contact
{
    background-color: darkviolet;
}

#contact iframe{
    width:100%;
}
#contact_1 h3{
    display: inline;
}
#contact_1 a{
    color:black;
}